.App {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  overflow: scroll;
  text-align: center;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: white;
  position: relative;
  background-color: #1d2529;
  overflow: scroll;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  background: -webkit-linear-gradient(left, #b72727 30%, #f0cb2f 60%);
  animation: gradient-animation 4s ease infinite;
  margin-bottom: 32px;
  padding-top: 32px;
  width: 600px;
  align-self: center;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
}

.nft-preview-container {
  margin: 0 auto;
  padding: 8px;
  border: 2px solid #efefef;
}

.nft-preview {
  width: 400px;
  height: 400px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #b72727 30%, #f0cb2f 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  width: 300px;
  margin: 16px auto;
}

.mint-button {
  background: -webkit-linear-gradient(left, #b72727, #f0cb2f);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  width: 300px;
  margin: 16px auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type="text"] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

@media screen and (width < 600px) {
  .header-container {
    margin-top: 200px;
  }
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
